.pill {
  display: flex;
  height: 32px;
}

.pillBtn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1em;
  width: 80px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid transparent;
}

.pillBtn:hover {
  background-color: var(--secondary-color);
}

.pillInput {
  border: 1px solid transparent;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 200px;
  padding-left: 20px;
}

.pillInput:hover, .pillInput:focus, .pillInput:focus-visible {
  border: 1px solid rgba(34, 44, 43, 0.3) ;
}

.pillInput::placeholder {
  color: var(--primary-color);
}